################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PocSolution/.vs/PocSolution
/PocSolution/AuthService/obj
/PocSolution/AuthService/bin/Debug/net7.0
